* {
    box-sizing: border-box;
}
body {
    background-color: bisque;
    text-align: center;
}
header, footer {
    height: 5rem;
    background-color: black;
    color: sandybrown;
}
header > h1 {
    padding-top: 1.1rem;
}
footer > h4 {
    padding-top: 1.8rem;
}
article {
    min-height: calc(100vh - 14rem);
}
h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    border: 1px solid black;
    max-width: 100%;
    max-height: 50%;
}
.item-frame {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: burlywood;
}
.fancy-button {
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}