.fancy-button:hover {
    color: black;
    background-color: white;
}

.item-frame:first-of-type, .item-frame:last-of-type {
    background-color: sienna;
}

.item-frame:nth-of-type(2), .item-frame:nth-last-of-type(2) {
    background-color: peru;
}

.item-frame:only-of-type {
    margin-top: 4rem;
    width: 30rem;
    height: fit-content;
    padding: 4.5rem;
    background-color: darkgoldenrod;
}
.item-frame:only-of-type h2 {
    margin-top: 3rem;
    color: darkred;
    margin-bottom: 1rem;

}
.item-frame:only-of-type h2 + p {
    margin-bottom: 4rem;
    text-align: justify;
}
.item-frame:only-of-type .fancy-button {
    background-color: white;
    color: black;
}
.item-frame:only-of-type .fancy-button:hover {
    background-color: black;
    color: white;
}
footer + img {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 20rem;
    max-height: 10rem;
    border: dashed;
}