* {
    box-sizing: border-box;
}
header, footer {
    height: 5rem;
    background-color: black;
    color: sandybrown;
    justify-content: center;
    align-items: center;
}
nav {
    width: 15rem;
    background-color: brown;
}
article {
    flex: 1 1 50vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: sandybrown;
    min-height: calc(100vh - 11rem);
}
h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    border: 1px solid black;
    max-width: 100%;
    max-height: 50%;
}
video {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}
.flex-column-wrap {
    display: flex;
    flex-flow: column wrap;
}
.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}
.flex-row {
    display: flex;
    flex-flow: row;
}
.item-frame {
    width: 17rem;
    height: 17rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: burlywood;
    text-align: center;
}
.fancy-button {
    width: 80%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    margin: 1rem;
}
.fancy-button:hover {
    color: black;
    background-color: white;
}
.video-container {
    height: 200px;
}