body {
    background-color: darkorange;
}
@media (max-width: 500px) {
    body {
        background-color: hotpink;
    }
}
@media (max-width: 800px) and (min-width: 501px){
    body {
        background-color: deepskyblue;
    }
}