* {
    box-sizing: border-box;
}

header {
    text-align: center;
    color: white;
    background-color: #0d6efd;
    padding: 1.3rem;
}
h1, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
h3 {
    font-size: 1.7rem;
    font-weight: 400;
}
.warning h3 {
    color: #ffc107;
}
.primary h3 {
    color: #0d6efd;
}
.secondary h3 {
    color: #6c757d;
}
@media (min-width: 769px) and (max-width: 992px) {
    .container {padding: 0 5%;}
    .col-md-6 {width: calc(6 / 12 * 99%);}
}
@media (min-width: 993px) {
    .container {padding: 0 10%;}
    .col-lg-4 {width: calc(4 / 12 * 99%);}
    .offset-lg-2 {margin-left: calc(2 / 12 * 99%);}
    .offset-lg-4 {margin-left: calc(4 / 12 * 99%);}
}
.row > div {
    display: inline-block;
    padding: 0 1rem;
}