header, footer {
    height: 5rem;
    background-color: black;
    color: sandybrown;
    text-align: center;
}

article {
    min-height: calc(100vh - 14rem);
}

header > h1 {
    padding-top: 1.1rem;
}

footer > h4 {
    position: relative;
    top: 1.8rem;
}

.fancy-text-area {
    color: white;
    background-color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 50vw;
    height: 5rem;
    padding: 1rem;
    margin-left: 3rem;
    border: 5px dotted blue;
    border-radius: 10px;
}
.inline-div {
    display: inline-block;
    width: 30rem;
}

.absolute-position {
    position: absolute;
    right: 5rem;
    top: 5rem;
}